@{
    ViewBag.Title = "Pizzaria Delícia";
}

<div class="jumbotron text-center">
    <h1>Pizzaria Delícia</h1>
    <p class="lead">As melhores pizzas da cidade!</p>
    <div class="mt-4">
        <a href="@Url.Action("Cardapio")" class="btn btn-primary btn-lg">Ver Cardápio</a>
        <a href="@Url.Action("Cardapio")" class="btn btn-success btn-lg">Fazer Pedido</a>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-4 text-center">
        <h3>🍕 Qualidade</h3>
        <p>Ingredientes frescos e de alta qualidade</p>
    </div>
    <div class="col-md-4 text-center">
        <h3>🚚 Entrega Rápida</h3>
        <p>Entregamos em até 30 minutos</p>
    </div>
    <div class="col-md-4 text-center">
        <h3>💰 Melhor Preço</h3>
        <p>Preços que cabem no seu bolso</p>
    </div>
</div>